/* Prevent rubber-band scroll */
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
/* End Prevent rubber-band scroll  */

.App {
  height: 100VH;
  overflow: hidden;
  display: flex;
}

.App .station-list {
  flex: 1;
  overflow-y: scroll;
  border: 2px solid teal;

  display: flex;
  flex-direction: column;
}

/* Workaround to allow for 100VH to work on iphone */
.App .station-list > * {
  flex-shrink: 0;
  flex-basis: auto;
}

.station-list .station-name {
  border: 2px solid pink;
  text-align: center;
  padding: 0.5em;
}

.App .selected-station {
  flex: 1;
  border: 2px solid greenyellow;
  overflow-wrap: break-word;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
}

/* Workaround to allow for 100VH to work on iphone */
.App .selected-station > * {
  flex-shrink: 0;
  flex-basis: auto;
}

.selected-station-name {
  flex-basis: 100%;
  flex-shrink: 1;
  border: 2px solid hotpink;
}

/* Workaround to allow for 100VH to work on iphone */
.App .selected-station > * {
  flex-shrink: 0;
  flex-basis: auto;
}

.destination {
}

.destination-name {
  border: 2px solid silver;
}

.train {
  display: flex;
  border: 2px solid wheat;
  padding: 0;
}

.train .train-name {
  flex: 1;
  border: 2px solid thistle;
}

.train .train-length {
  flex: 1;
  border: 2px solid tomato;
}
